* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul {
  padding: 0;
  list-style-type: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  /* max-width: 1128px; */
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.gallery-item {
  /* width: calc((100% - 2 * 24px) / 3); */
  border: 1px solid #808080;
  width: 360px;
  height: auto;
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.1);
}

.gallery-image {
  display: block;
  max-width: 100%;
  height: auto;

}

.item-subtitle {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.item-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 32px;
}

label {
  letter-spacing: 0.04em;
}

input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
}

input:hover {
  border: 1px solid #000;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background-color: #4e75ff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}

button:hover {
  background-color: #6c8cff;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 0 auto;
  display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
  display: none;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
